<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pepsoft.alfredv2.steamsearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>44375B8C-BBAE-4686-8E6E-4BE4ECFF2FF7</key>
		<array/>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A7B4053-2377-45C0-AB5A-D75240C9152D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44375B8C-BBAE-4686-8E6E-4BE4ECFF2FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>sopepos@gmail.com</string>
	<key>description</key>
	<string>Search for Steam</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Steam Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A7B4053-2377-45C0-AB5A-D75240C9152D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>st</string>
				<key>runningsubtext</key>
				<string>loading ...</string>
				<key>script</key>
				<string>python steam_search.py icon "{query}"</string>
				<key>subtext</key>
				<string>Search Steam for {query}</string>
				<key>title</key>
				<string>Steam</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>44375B8C-BBAE-4686-8E6E-4BE4ECFF2FF7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>usage: python steam_search.py icon "{query}"
icon = icon or noicon

feedback: sopepos@gmail.com</string>
	<key>uidata</key>
	<dict>
		<key>44375B8C-BBAE-4686-8E6E-4BE4ECFF2FF7</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8A7B4053-2377-45C0-AB5A-D75240C9152D</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
